$breakpoints : (
    "mobile" : 767px,
    "tablette-min-width" : 768px,
    "tablette-max-width" : 1023px, 
);

@mixin tablette ($_keymin,$_keymax){
    @media screen and (min-width: map-get($breakpoints,$_keymin)) and (max-width: map-get($breakpoints,$_keymax)) {
        &{@content};
    }
}
@mixin mobile ($_key) {
    @media screen and (max-width: map-get($breakpoints,$_key)) {
        &{@content};
    }
}

.drop-bloc {
    flex:1;
    margin-right: 75px;
    @include mobile ("mobile") {
        margin-right: 0px;
    }
}

.drop-bloc:last-of-type{
    margin-right: 0px;
}

.drop-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FF6060;
    border-radius: 5px;
    border: none;
    height: 47px;
    width: 100%;
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 500;
    font-family: montserrat;
    font-size: 20px;
    color: #F2F2F2;
    @include mobile ("mobile") {
        font-size: 13px;
        line-height: 19px;
        height: 30px;
    }
}

.flecheBas, .flecheHaut {
    @include mobile ("mobile") {
        height: 15px;
        width: 15px;
    }
}

.drop-desc {
    color: #FF6060;
    size: 24px;
    background: #F2F2F2;
    border-radius: 0px 0px 5px 5px;
    padding: 15px 10px 5px 10px;
    list-style-type: none;
    position: relative;
    top: -5px;
    z-index: -1;
    height: 200px;
    @include mobile ("mobile") {
        height: auto;
    }
    @include tablette ("tablette-min-width", "tablette-max-width") {
        height: auto;
    }
}

.drop-desc p {
    margin-left:20px;
    margin-right: 12px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    @include mobile ("mobile") {
        margin-left: 12px;
        font-size: 12px;
        line-height: 17px;
    }
}