.accueil_section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    width: 100%;
}

.accueil_title {
    position: absolute;
    z-index: 9999;
    color: white;
    font-weight: 500;
    font-size: 48px;
    line-height: 68px;
}

.accueil_img {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    position: relative;
    filter: brightness(0.7);
    width: 100%;
    height: auto;
}
.accueil_img_mobile {
    display: none;
}

@media screen and (max-width: 767px) {
    .accueil_section {
        margin-top: 0px;
    }
    .accueil_img {
        display: none;
    }
    .accueil_img_mobile {
        display: block;
        background-position: bottom;
        object-fit: cover;
        width: 100%;
        border-radius: 10px;
        filter: brightness(0.7);
    }
    .accueil_title {
        font-size: 24px;
        line-height: 24px;
        width: 62%;
        left: 10%;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .accueil_section {
        margin-top: 30px;
    }
    .accueil_title {
        font-size: 38px;
    }
    .accueil_img_mobile{
        display: none;
    }
    
}