.accueil_section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    width: 100%;
}

.accueil_title {
    position: absolute;
    z-index: 9999;
    color: white;
    font-weight: 500;
    font-size: 48px;
    line-height: 68px;
}

.accueil_img {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    position: relative;
    filter: brightness(0.7);
    width: 100%;
    height: auto;
}

@media screen and (max-width: 768px) {
    .accueil_section {
        margin-top: 0px;
        height: 111px;
    }
    .accueil_img {
        background-image: url("../../assets/MobileHeaderImg.jpg");
        background-position: bottom;
        object-fit: cover;
        height: 111px;
        border-radius: 10px;
    }
    .accueil_title {
        font-size: 24px;
        line-height: 24px;
        width: 62%;
        left: 10%;
    }
    
}