* {
  font-family: 'Montserrat',sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main, header {
  margin-top: 40px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
    header {
      margin : 20px 20px 0px 20px;
    }

    main {
      margin : 20px 20px 0px 20px;
    }
    
}

@media screen and (min-width:768px) and (max-width: 1024px) {
  header {
    margin : 20px 20px 0px 20px;
  }
  main {
    margin : 20px 20px 0px 20px;
  } 
}