* {
  font-family: 'Montserrat',sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main, header {
  margin-top: 40px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
    header {
      margin-top:20px;
      margin-left: 20px;
      margin-right: 20px;
    }

    main {
      margin-top: 20px;
      margin-left: 20px;
      margin-right: 20px;
    }
    
}
