$breakpoints : (
    "mobile" : 767px,
    "tablette-min-width" : 768px,
    "tablette-max-width" : 1023px, 
);

@mixin tablette ($_keymin,$_keymax){
    @media screen and (min-width: map-get($breakpoints,$_keymin)) and (max-width: map-get($breakpoints,$_keymax)) {
        &{@content};
    }
}
@mixin mobile ($_key) {
    @media screen and (max-width: map-get($breakpoints,$_key)) {
        &{@content};
    }
}

* {
  font-family: 'Montserrat',sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main, header {
  margin-top: 40px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 0px;
  @include mobile ("mobile") {
    margin : 20px 20px 0px 20px;
  }
  @include tablette ("tablette-min-width","tablette-max-width") {
    margin : 20px 20px 0px 20px;
  }
}