.div_error {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h1_error {
  color: #FF6060;
  font-size: 250px;
  line-height: 411px;
  margin-bottom: 20px;
}

.h2_error {
  color: #FF6060;
  font-size: 36px;
  font-weight: 500;
  line-height: 51px;
  margin-bottom: 180px;
  margin-top: 0px;
}

@media screen and (max-width: 767px) {
  .div_error {
    display: block;
    text-align: center;
  }
  .h1_error {
    font-size: 96px;
    font-weight: 700;
    line-height: 137px;
    margin-bottom: 5px;
    margin-top: 100px ;
  }
  .h2_error {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 133px;
    margin-left: 58px;
    margin-right: 58px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .h1_error {
    margin-top: 100px;
    line-height: 300px;
  }
  .h2_error {
    text-align: center;
    margin-bottom:100px ;
  }
}